.search-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: auto;
  max-width: 640px;
  margin: auto;
  padding-top: 128px;

  .logo-image {
    margin-bottom: 20px;
  }

  username-search-form {
    width: 100%;
  }

  .validation-description {
    padding-left: 22px;
  }
}
