@use '../utils.scss' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: $element-dark;
  border: 1px solid $gray;
  border-radius: 4px;
  padding: 8px;
  font-size: rem(16);
  cursor: pointer;
  color: $gray;

  fa-icon {
    font-size: rem(20);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $element-dark;
  border: 1px solid $gray;
  border-radius: 50%;
  font-size: rem(16);
  width: 32px;
  height: 32px;
  cursor: pointer;

  fa-icon {
    display: flex;
    font-size: rem(20);
    color: $gray;
  }

  &--size-small {
    border: 2px solid $black;
    width: 22px;
    height: 22px;

    fa-icon {
      font-size: rem(14);
    }
  }

  &--size-big {
    width: 72px;
    height: 72px;

    fa-icon {
      font-size: rem(20);
    }
  }

  &:not(:disabled):hover {
    background: $gray;
    border-color: $element-dark;

    fa-icon {
      color: $element-dark;
    }
  }

  &:disabled {
    background-color: $light-gray;
    cursor: not-allowed;
  }
}
