<div class="user-page">
  <div class="user-page__header">
    <button
      class="icon-button"
      (click)="navigateToSearchPage()"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <h1>User details</h1>
  </div>
  <div class="user-details">
    <img [src]="user?.avatar_url" />
    <div class="user-details__info">
      <p *ngIf="user?.name">{{ user?.name }}</p>
      <p *ngIf="user?.login">{{ user?.login }}</p>
      <p
        *ngIf="user?.bio"
        class="description"
      >
        {{ user?.bio }}
      </p>
      <p
        *ngIf="user?.location"
        class="user-details__row"
      >
        <fa-icon [icon]="faLocationDot"></fa-icon>{{ user?.location }}
      </p>
      <div class="user-details__row">
        <p>
          <strong>{{ user?.followers || 0 }}</strong> followers
        </p>
        <p>
          <strong>{{ user?.following || 0 }}</strong> following
        </p>
      </div>
    </div>
  </div>

  <repository-list [user]="user"></repository-list>
</div>
