@use '../../styles/utils.scss' as *;

.user-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 64px;
    background-color: $background-dark;
    padding: 0 20px;
    position: sticky;
    top: 0;
  }

  &__content {
    padding: 20px;
  }

  .user-details {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray;
    margin-bottom: 20px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid $gray;
    }

    &__info {
      max-width: 400px;

      & > * {
        margin-bottom: 4px;
      }
    }

    &__row {
      display: flex;

      p + p {
        margin-left: 20px;
      }

      fa-icon {
        margin-right: 12px;
      }
    }
  }

  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: rem(60);
  }
}
