@use '../../../../styles/utils.scss' as *;

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 12px 0;

  .filters {
    display: flex;

    input {
      max-width: 200px;
    }
  }
}

.repository-list {
  display: flex;
  flex-direction: column;

  .card {
    background-color: $background-dark;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 2px $box-shadow;
    overflow: hidden;
  }

  &__item,
  &__columns {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
  }

  &__item {
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    p {
      overflow: hidden;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    &:hover {
      background-color: $light-gray;
    }
  }

  &__column {
    cursor: pointer;

    &:nth-child(1) {
      flex-grow: 1;
      width: 95%;
    }

    &:nth-child(2) {
      min-width: 68px;
      width: 5%;
    }
  }

  fa-icon {
    margin-right: 4px;
  }

  &__empty-message {
    font-size: rem(24);
  }

  &__empty-message,
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 20px 0;
  }

  .loading-container {
    font-size: rem(60);
  }
}
