<h2>Repositórios</h2>

<div class="list-header">
  <div
    *ngIf="!selectedRepository"
    class="filters"
  >
    <div>
      <label for="repository-filter">Nome:</label>
      <input
        id="repository-filter"
        (input)="filterRepositories()"
        [(ngModel)]="filter.name"
      />
    </div>

    <div>
      <label for="repository-filter">Quantidade mínima de estrelas:</label>
      <input
        id="repository-filter"
        type="number"
        (input)="filterRepositories()"
        [(ngModel)]="filter.minStarsQuantity"
      />
    </div>
  </div>
  <pagination
    *ngIf="!selectedRepository"
    [currentPage]="filter.page"
    [totalPages]="repositoryTotalPages"
    (updatedPage)="loadRepositories($event)"
  >
  </pagination>
</div>
<div class="repository-list">
  <div
    class="repository-list__columns"
    [class.hidden]="selectedRepository"
  >
    <div
      class="repository-list__column"
      (click)="changeSortDirection('name')"
    >
      <fa-icon
        *ngIf="filter.sort === 'name'"
        [icon]="filter.sortDirection === 'asc' ? faArrowUp : faArrowDown"
      ></fa-icon>
      <strong>Nome</strong>
    </div>
    <div
      class="repository-list__column"
      (click)="changeSortDirection('stars')"
    >
      <fa-icon
        *ngIf="filter.sort === 'stars'"
        [icon]="filter.sortDirection === 'asc' ? faArrowUp : faArrowDown"
      ></fa-icon>
      <strong>Stars</strong>
    </div>
  </div>

  <div class="card">
    <ng-container *ngIf="!loadingRepositories && !selectedRepository">
      <div
        *ngFor="let repository of repositories"
        class="repository-list__item"
        (click)="showRepositoryDetails(repository)"
      >
        <div class="repository-list__column">
          <p>{{ repository.name }}</p>
          <p class="description">{{ repository.description }}</p>
        </div>
        <div class="repository-list__column">
          <p><fa-icon [icon]="faStar"></fa-icon> {{ repository.stargazers_count }}</p>
        </div>
      </div>
      <div
        *ngIf="!repositories?.length"
        class="repository-list__empty-message"
      >
        Esse usuário não possui repositórios públicos
      </div>
    </ng-container>

    <ng-container *ngIf="!loadingRepositories && selectedRepository">
      <repository-details
        [repository]="selectedRepository"
        (goBack)="showRepositoryList()"
      ></repository-details>
    </ng-container>

    <ng-container *ngIf="loadingRepositories">
      <div class="loading-container">
        <fa-icon
          [icon]="faSpinner"
          [spin]="true"
        ></fa-icon>
      </div>
    </ng-container>
  </div>
</div>
