// Neutral
$black: #000;
$white: #fff;
$gray: #707070;
$light-gray: #3f3f3f;

// Font
$type: #dcdcdc;
$light-type: #8e8e8e;
$dark-type: #292927;

// Status
$primary: #9bd0fb;
$active: #366fec;
$error: #ee4a4a;

// Elements
$background: #343432;
$background-dark: #292927;
$element-dark: #242422;
$box-shadow: #242422;
