@use './styles/utils.scss' as *;
@use './styles/atoms/button.scss' as *;
@use './styles/atoms/input.scss' as *;
@use './styles/atoms/tag.scss' as *;
@use './styles/atoms/text.scss' as *;
@use './styles/molecules/list.scss' as *;

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: $type;
  background-color: $background;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: rem(32);
}

p {
  margin: 0;
  font-size: rem(16);
}
